{% extends "./base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="text">
    <p> Are you in need of a reliable and durable roof rack or ladder system for your VW Crafter or Mercedes Sprinter van? 
        Look no further than <span class="phoenix">Phoenix Vanz</span>!
    </p><br>
    <p> Our bespoke roof racks and ladder systems are designed to perfectly fit your specific van model,
        ensuring maximum safety and efficiency when transporting your cargo on the roof. 
        Our expert team takes the time to understand your unique needs and customize each system to meet your
        exact specifications and requirements.
    </p><br><br>
    <p> Made with high-quality materials, our roof racks and ladder systems are built to last, withstanding
        even the toughest weather conditions and heavy loads. We understand that your van is a vital asset
        to your business or leisure time, and our products are built with this in mind, providing you with peace of mind and
        confidence when transporting your equipment and adventuring off grid.
    </p><br>
    <p> In addition to our exceptional product quality and customization options, our team prides itself on
        providing top-notch customer service, we are committed to ensuring your satisfaction, so we are
        available any time to answer any questions or concerns you may have.
    </p><br>
    <p> So, whether you're a tradesman, an outdoor enthusiast or both, our bespoke roof racks and
        ladder systems are the perfect solution for your VW Crafter, Mercedes Sprinter or MAN TGE. 
        <br> 
        {% comment %} link to contact page {% endcomment %}
        Contact us today for a quote and take the first step in enhancing your van's capabilities!
    </p>
</div>
{% endblock %}