{% extends "./base.html" %}
{% load static %}

{% block content %}
<main>
    {% comment %} HERO SECTION {% endcomment %}
    <section id="hero">
        <div class="hero-text">
            <h2>Bespoke Roof Racks</h2>
            <h2>Spare Wheel Carriers</h2>
            <h2>Rear Door Ladders</h2>
            <h2>Side Ladders</h2>
            <h2>Side Steps</h2>
        </div>
    </section>

    {% comment %} CATEGORY GRID {% endcomment %}
    {% comment %} 2 x 2 Grid for Categories {% endcomment %}
    <div class="category-grid">

        {% for c in categories %}
            <a href="{{ c.get_absolute_url }}">
                <div class="cat-grid-item" id="{{ c.slug }}-category">
                    <div class="cat-grid-item-text">
                        <h3>{{ c.name }}</h3>
                    </div>
                </div>
            </a> 
        {% endfor %}
 
    </div>

    {% comment %} EXTRA MEDIA {% endcomment %}
    <section>
        {% comment %} MEDIA - VIDEO/SLIDESHOW {% endcomment %}
    </section>
</main>

{% comment %} FOOTER SECTION MOVE TO ANOTHER FILE {% endcomment %}
<footer class="footer">
    {% comment %} FOOTER HERE {% endcomment %}
</footer>
{% endblock %}