{% extends "./base.html" %}
{% load static %}

{% block content %}
<main>
    {% comment %} HERO SECTION {% endcomment %}
    <section id="hero">
        <div class="hero-text">
            <h2>Bespoke Roof Racks</h2>
            <h2>Spare Wheel Carriers</h2>
            <h2>Rear Door Ladders</h2>
            <h2>Side Ladders</h2>
            <h2>Side Steps</h2>
        </div>
    </section>

    {% comment %} CATEGORY GRID {% endcomment %}
    <div id="category-grid">
        {% comment %} 2 x 2 Grid for Categories {% endcomment %}
        <div class="cat-grid-item" id="roof-rack-category">
            <h3>Roof Racks</h3>
        </div>
        <div class="cat-grid-item" id="side-ladder-category">
            <h3>Side Ladders</h3>
        </div>
        <div class="cat-grid-item" id="rear-ladder-category">
            <h3>Rear Door Ladders</h3>
        </div>
        <div class="cat-grid-item" id="spare-wheel-category">
            <h3>Spare Wheel Carriers</h3>
        </div>
        
    </div>

    {% comment %} EXTRA MEDIA {% endcomment %}
    <section>
        {% comment %} MEDIA - VIDEO/SLIDESHOW {% endcomment %}
    </section>
</main>

{% comment %} FOOTER SECTION MOVE TO ANOTHER FILE {% endcomment %}
<footer class="footer">
    {% comment %} FOOTER HERE {% endcomment %}
</footer>
{% endblock %}