{% extends "../base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<h1>{{category.name|title}}</h1>
  <div class="category-grid">

      {% for product in products %}
      <div>
          <h2>{{ product.name }}</h2>
          <img alt="{{product.name }}" src="{{ product.image_main.url }}">
          <h3>£{{ product.price }}</h3>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
      </div>
      {% endfor %}

  </div>
{% endblock %}