
{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="product_detail_container">
    <h1>{{ product.name }}</h1>

    {% comment %} <img class="img" width="60%" alt="{{ product.name }}" src="{{ product.image_main.url }}"> {% endcomment %}
    {% for image in images %}
        <img class="img" src="{{ image.image.url }}" alt="{{ image.product.name }} Image">
    {% endfor %}
    <p>{{ product.description}}</p>

    <span>£{{ product.price }}</span>

    <button type="button" class="btn">
        Add to basket
    </button>

    {% comment %} <a href="{% url 'cart/add'%}" class="btn"></a> {% endcomment %}

</div>
{% endblock %}