{% extends "store/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="product_detail_container">
    <h1>{{ product.name }}</h1>

    {% comment %} <div class="slider"> {% endcomment %}
    {% for image in images %}
        <img class="img" src="{{ image.image.url }}" alt="{{ image.product.name }} Image">
    {% endfor %}
    {% comment %} </div> {% endcomment %}
    <p>{{ product.description}}</p>

    <span>£{{ product.price }}</span>

    <button type="button" class="btn">
        Add to basket
    </button>

    {% comment %} <a href="{% url 'cart/add'%}" class="btn"></a> {% endcomment %}

</div>

<script>
    const slider = document.querySelector('.slider');
    const images = document.querySelectorAll('.slider img');

    let currentImage = 0;

    function changeImage() {
      images[currentImage].classList.remove('active');
      currentImage = (currentImage + 1) % images.length;
      images[currentImage].classList.add('active');
    }

    setInterval(changeImage, 3000);
</script>

{% endblock %}