#category-grid {
    display: grid;
    padding-top: 3rem;
    max-width: 90%;
    margin: 0 auto 5rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.cat-grid-item {
    height: 500px;
    background-color: #000;
    padding: 1rem;
    border-bottom: 10px solid #333;
    border-radius: 0.25rem;
    opacity: 0.7;
}

.cat-grid-item-text {
    font-size: 2rem;
    color: #ddd;
    font-variant: small-caps;
}

.cat-grid-item-text h3 {
    padding: 0.5rem;
    text-align: center;
    background-color: #1f2cbd85;
}

/* CATEGORY IMAGES */
#roof-rack-category {
    background-image: url(../images/roof_rack_category_1_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#rear-ladder-category {
    background-image: url(../images/rear_ladder_category_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#side-ladder-category {
    background-image: url(../images/side_ladder_category_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#spare-wheel-category {
    background-image: url(../images/spare_wheel_category_1_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MEDIA QUERIES */
/* ADJUST GRID ON SMALLER SCREEN */
@media (max-width: 760px) {
    #category-grid {
        grid-template-columns: 1fr;
    }
}

/* ADJUST GRID ON LARGER SCREEN */
@media (min-width: 1580px) {
    #category-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
