.category-grid {
    display: grid;
    font-family: 'Walter Turncoat', cursive;
    padding-top: 3rem;
    max-width: 90%;
    margin: 0 auto 5rem;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: 2rem;
}

.cat-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    background-color: #000;
    padding: 1rem;
    border-bottom: 10px solid #222;
    border-radius: 0.25rem;
    opacity: 0.7;
}

.cat-grid-item-text h3 {
    font-size: 2rem;
    color: whitesmoke;
    font-variant: small-caps;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba(25,25,25,0.6);
    border-radius: 0.25rem;
}

/* CATEGORY IMAGES */
#roof-racks-category {
    background-image: url(../images/roof_rack_category_1_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#rear-door-ladders-category {
    background-image: url(../images/rear_ladder_category_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#side-ladders-category {
    background-image: url(../images/side_ladder_category_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#wheel-carriers-category {
    background-image: url(../images/spare_wheel_category_1_600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#side-steps-category {
    background-image: url(../images/side-steps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 600px;
}