.category {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-gap: 2rem;
    justify-items: center;
    margin: 0;
}

.single-category-item {
    display: flex;
    flex-direction: column;
    align-items: center
}

.category-image {
    border-radius: 1rem;
}

.category-title{
    text-align: center;
    color: #FBC222;
}

img {
    max-width: 400px;
    height: auto;
}

/* SUB CATEGORY IMAGES */
#phoenix-roof-platform {
    background-image: url(../images/platform_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#retro-roof-rack {
    background-image: url(../images/retro_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
#trailblazer {
    background-image: url(../images/trailblazer_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}