#hero {
    width: 100%;
    height: calc(100vh - 84.8px);
    background-image: url(../images/phoenix_hero_2.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */               
    background-size: cover; /* Resize the background image to cover the entire container */
}



/* For width 400px and larger: */
@media only screen and (max-width: 461px) {
  #hero {
    width: 100%;
    /* height: calc(100vh - 84.8px); */
    background-image: url('../images/phoenix_vanz_hero_small.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */               
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}