/* RESET BROWSER DEFAULTS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Walter Turncoat', cursive;
}

/* DEFAULT BG COLOUR */
body {
    background-color: rgba(0, 0, 0, 0.97);
    color: whitesmoke;
}

/* main {
    color: orange;
} */
